<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="header">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
            <div class="header-container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <!-- <h1 class="text-light"><a href="index.html"><span>ActAnnu</span></a></h1> -->
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <a th:href="@{/}"><img th:src="@{assets/img/logo_annuarium.png}" alt="" class="img-fluid"></a>
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" th:href="@{/}">Accueil</a></li>
                        <li><a class="nav-link scrollto" href="#about">A PROPOS</a></li>
                        <li class="dropdown"><a href="#"><span>Acte</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a th:href="@{/listactes}">Liste des actes</a></li>
                                <li sec:authorize="isAuthenticated()"><a th:href="@{/enregistreracteform}">Enregistrer un acte</a></li>
                                <li><a th:href="@{/searchacteform}">Rechercher un acte</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" th:href="@{/demandeacteform}">Demander un acte</a></li>
<!--                        <li><a class="getstarted scrollto" href="#about">Contact</a></li>-->

                        <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown ">
                                <a sec:authorize="isAuthenticated()" class="nav-link dropdown-toggle " href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img th:src="@{assets/img/6.png}" alt class="w-px-10 h-auto rounded-circle img-small img-margin-left" />
                                    </div>
                                </a>
                                <a sec:authorize="!isAuthenticated()" class="nav-link dropdown-toggle " href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar">
                                        <img th:src="@{assets/img/6.png}" alt class="w-px-10 h-auto rounded-circle img-small img-margin-left" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end nav-margin-left">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div sec:authorize="isAuthenticated()" class="avatar avatar-online">
                                                        <img th:src="@{assets/img/6.png}" alt class="w-px-10 h-auto rounded-circle img-small" />
                                                    </div>
                                                    <div sec:authorize="!isAuthenticated()" class="avatar">
                                                        <img th:src="@{assets/img/6.png}" alt class="w-px-10 h-auto rounded-circle img-small" />
                                                    </div>
                                                </div>
                                                <div sec:authorize="isAuthenticated()" class="flex-grow-1">
<!--                                                    <span class="fw-semibold d-block" th:text="${userName} ">Richelle Mayap</span>-->
                                                    <span class="fw-semibold d-block" th:text="${session.userName} ">Richelle Mayap</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                                <div sec:authorize="!isAuthenticated()" class="flex-grow-1">
                                                    <span class="fw-semibold d-block">User</span>
                                                    <small class="text-muted">default priviligies</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a sec:authorize="isAuthenticated()" class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                <span class="d-flex align-items-center align-middle">
<!--                                <i class="flex-shrink-0 bx bx-credit-card me-2"></i>-->
<!--                                <span class="flex-grow-1 align-middle">Billing</span>-->
<!--                                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>-->
                                </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                        <a sec:authorize="!isAuthenticated()"class="dropdown-item" th:href="@{/login}">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log In</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        <!--/ User -->
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
            </div><!-- End Header Container -->
        </div>
    </header><!-- End Header -->
</th:block>

</html>