<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/_head.html::head"></th:block>
</head>

<body>

   <!-- ======= Header ======= -->
   <th:block th:replace="fragments/_header.html::header"></th:block>
   <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="{/}">Accueil</a></li>
            <li>Rechercher un acte</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
          <section id="team" class="team">
              <div class="container">
        
                <div class="row">
                   <div class="col-lg-4">
                        <div class="section-title" data-aos="fade-right">
                            <h3>Rechercher un acte</h3>
                            <!-- <p>Cette page affiche la liste des actes </p> -->
                        </div>
                    </div>
                    <div class="col-lg-4 footer-newsletter">
                        <form th:action="@{/searchacte}"
                              th:method="post"
                          >
                            <input type="text" name="motcle">
                            <input type="submit" value="Rechercher">
                          </form>
                    </div>
                  <div class="col-lg-12">
                    <div class="row">

                      <div  th:each="acteDto : ${acteDtos}"  class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                          <div class="pic"><img th:src="@{/assets/img/acteicon.png}" class="img-fluid" alt=""></div>
                          <div class="member-info">
                            <h4 th:text="${acteDto.nom}">ATANGANA MBALLA</h4>
                            <h5 th:text="${acteDto.prenom}">Jean Hervé</h5>
                            <!--span>Chief Executive Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p-->
                            <div class="social">
                              <a th:href="@{'/detail?numero=' + ${acteDto.numero}}" class=" bg-success" title="details"><i class="ri-eye-line"></i></a>
                              <a href=""><i class="ri-edit-box-fill" title="editer"></i></a>
                              <a th:href="@{'/supprimer?numero=' + ${acteDto.numero}}" class=" bg-danger"><i class="ri-delete-bin-3-fill" title="supprimer"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
        
              </div>
          </section>
        
        </div>
      </section>

  </main><!-- End #main -->

   <th:block th:replace="fragments/_footer.html::footer"></th:block>

   <th:block th:replace="fragments/_js.html::js"></th:block>
</body>

</html>